[mysqld]
sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
innodb_buffer_pool_size = 1G
innodb_log_file_size = 512M
explicit_defaults_for_timestamp = 0
default-authentication-plugin = mysql_native_password
group_concat_max_len=18446744073709551615
skip-log-bin
skip_ssl
innodb-flush-log-at-trx-commit=0
innodb-doublewrite = 0
sort_buffer_size = 512M
server-id        = 1